.box {
    background-color: whitesmoke;
    padding-bottom: 50px;
    padding-top: 30px;
}
h6 {
    text-align: center;

}
.container {
    background-color: white;
    padding-bottom: 200px;
    padding-top: 10px;
}

.number {
    font-size: 30px;
    color: blue;
}