/* #header {
    color: darkblue;
    background: silver;
    margin-bottom: 2px;
} */

#tableLeft {
    background: cadetblue;
    text-align: center;
}

.idea {
    font-size: 44px;
}

#tableRight {
    background: cadetblue;
    text-align: right;
}

p {
    padding-top: 3px;
    border: 4px;
    /* margin-bottom: 0px; */
    font-size: 12px;
}

strong {
    text-align: right;
}

button {
    text-align: center;
}